@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');


.navSidebar {
  display: flex;
  height: 100vh !important;
  justify-content: space-between; 
  width: 100%;
}

/* Home Icon - Keeps Its Position on the Left */
.icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 20px;
  left: 20px;
}

.iconImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.iconTitle {
  font-size: 24px;
  font-weight: bold;
}

/* Sidebar - Always on Right */
.sidebar {
  max-width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px black;
  transition: all 0.3s ease-in-out;
}
.sidebar:hover{
  box-shadow: 0px 0px 15px black;
}
.sidebar >img{
  padding: 20px;
}
/* Sidebar Avatar - Stays Circle */
.sidebarAvatar {
  width: 180px;
  align-self: center;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Sidebar Brand */
.sidebarBrand {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Monomakh', sans-serif !important;
}

/* Sidebar Menu */
.sidebarMenu {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */ 
}

/* Menu Button Styling */
.sidebarMenu div{
  padding: 10px 0px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.116);
  img{
    width: 20px;
    margin-right: 10px;
  }
}
.sidebarMenu div:hover{
  background-color: #f7d1d188;
}

/* Bottom Section */
.bottom {
  margin-top: auto;
}

/* Menu Icon - Appears Only on Small Screens */
.menuIcon {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}

/* Responsive Behavior */
@media (max-width: 1020px) {
  .menuIcon {
    display: block;
  }
  .menuIcon:hover{
    transform: rotate(180deg);
    transition: transform ease-in-out 0.5s;
  }
  .sidebar {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 450px;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
