/* Home css */

#fitPool{
    width: 40ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(50) infinite alternate-reverse;
}

@keyframes typing{
    from{
        width: 0ch;
    }
}

/* Contact page css*/
.contect-info-content-line img{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(156deg) brightness(35%) contrast(100%);
}
.contect-info-content-line:hover{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(156deg) brightness(0%) contrast(100%); 
    cursor: pointer; 
}

/* page scroll animation */
.animateClass{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

@keyframes appear{
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}